[submodule "travelnet"]
	path = travelnet
	url = https://github.com/Sokomine/travelnet
[submodule "scaffolding"]
	path = scaffolding
	url = https://bitbucket.org/Infinatum/scaffolding.git
[submodule "plantlife_modpack"]
	path = plantlife_modpack
	url = https://github.com/mt-mods/plantlife_modpack
[submodule "moretrees"]
	path = moretrees
	url = https://github.com/mt-mods/moretrees
[submodule "food"]
	path = food
	url = https://github.com/rubenwardy/food.git
[submodule "farming"]
	path = farming
	url = https://codeberg.org/tenplus1/farming.git
[submodule "biome_lib"]
	path = biome_lib
	url = https://github.com/mt-mods/biome_lib
[submodule "bakedclay"]
	path = bakedclay
	url = https://codeberg.org/tenplus1/bakedclay.git
[submodule "darkage"]
	path = darkage
	url = https://github.com/adrido/darkage/
[submodule "minetest-u_skinsdb"]
	path = minetest-u_skinsdb
	url = https://github.com/dmonty2/minetest-u_skinsdb
[submodule "mob_horse"]
	path = mob_horse
	url = https://codeberg.org/tenplus1/mob_horse.git
[submodule "bonemeal"]
	path = bonemeal
	url = https://codeberg.org/tenplus1/bonemeal
[submodule "columnia"]
	path = columnia
	url = https://github.com/Glunggi/columnia
[submodule "mobs_redo"]
	path = mobs_redo
	url = https://codeberg.org/tenplus1/mobs_redo
[submodule "minetest-tweaks"]
	path = tweaks
	url = https://github.com/exot/minetest-tweaks
[submodule "moreores"]
	path = moreores
	url = https://github.com/minetest-mods/moreores
[submodule "basic_materials"]
	path = basic_materials
	url = https://github.com/mt-mods/basic_materials
[submodule "homedecor_modpack"]
	path = homedecor_modpack
	url = https://github.com/mt-mods/homedecor_modpack
[submodule "unifieddyes"]
	path = unifieddyes
	url = https://github.com/mt-mods/unifieddyes
[submodule "moreblocks"]
	path = moreblocks
	url = https://github.com/minetest-mods/moreblocks
[submodule "hook"]
	path = hook
	url = https://github.com/AiTechEye/hook
[submodule "signs_lib"]
	path = signs_lib
	url = https://github.com/mt-mods/signs_lib
[submodule "street_signs"]
	path = street_signs
	url = https://github.com/mt-mods/street_signs
[submodule "worldedit"]
	path = worldedit
	url = https://github.com/Uberi/Minetest-WorldEdit
[submodule "areas"]
	path = areas
	url = https://github.com/minetest-mods/areas/
[submodule "pipeworks"]
	path = pipeworks
	url = https://github.com/mt-mods/pipeworks
[submodule "awards"]
	path = awards
	url = https://gitlab.com/rubenwardy/awards.git/
[submodule "mydoors"]
	path = mydoors
	url = https://github.com/minetest-mods/mydoors
[submodule "abritorch"]
	path = abritorch
	url = https://github.com/Ezhh/abritorch
[submodule "minetest_biofuel"]
	path = minetest_biofuel
	url = https://github.com/APercy/minetest_biofuel
[submodule "helicopter"]
	path = helicopter
	url = https://github.com/APercy/helicopter
[submodule "Minetest-WorldEditAdditions"]
	path = Minetest-WorldEditAdditions
	url = https://github.com/sbrl/Minetest-WorldEditAdditions
[submodule "orbs_of_time"]
	path = orbs_of_time
	url = https://github.com/minetest-mods/orbs_of_time
[submodule "anvil"]
	path = anvil
	url = https://github.com/minetest-mods/anvil
[submodule "mesecons"]
	path = mesecons
	url = https://github.com/minetest-mods/mesecons
[submodule "item-tweaks"]
	path = item-tweaks
	url = https://github.com/exot/item_tweaks
[submodule "cloudlands"]
	path = cloudlands
	url = https://github.com/Treer/cloudlands
[submodule "mobf_trader"]
	path = mobf_trader
	url = https://github.com/Sokomine/mobf_trader
[submodule "bike"]
	path = bike
	url = https://gitlab.com/h2mm/bike.git
[submodule "towercrane"]
	path = towercrane
	url = https://github.com/minetest-mods/towercrane
[submodule "headanim"]
	path = headanim
	url = https://github.com/LoneWolfHT/headanim/
[submodule "mobkit"]
	path = mobkit
	url = https://github.com/TheTermos/mobkit
[submodule "petz"]
	path = petz
	url = https://github.com/yl-whosit/petz
[submodule "3d_armor"]
	path = 3d_armor
	url = https://github.com/minetest-mods/3d_armor
[submodule "craftguide"]
	path = craftguide
	url = https://github.com/minetest-mods/craftguide
[submodule "currency"]
	path = currency
	url = https://github.com/mt-mods/currency
[submodule "infinite-chest"]
	path = infinite-chest
	url = https://github.com/cornernote/minetest-infinite_chest
[submodule "intllib"]
	path = intllib
	url = https://github.com/minetest-mods/intllib
[submodule "unified-inventory"]
	path = unified-inventory
	url = https://github.com/minetest-mods/unified_inventory
[submodule "character-creator"]
	path = character-creator
	url = https://github.com/minetest-mods/character_creator
[submodule "wielded-light"]
	path = wielded-light
	url = https://github.com/minetest-mods/wielded_light
[submodule "hidroplane"]
	path = hidroplane
	url = https://github.com/APercy/hidroplane
[submodule "water_life"]
	path = water_life
	url = https://github.com/berengma/water_life
[submodule "nautilus"]
	path = nautilus
	url = https://github.com/APercy/nautilus
[submodule "advtrains"]
	path = advtrains
	url = https://git.bananach.space/advtrains.git
[submodule "basic_trains"]
	path = basic_trains
	url = https://git.bananach.space/basic_trains.git/
[submodule "moretrains"]
	path = moretrains
	url = https://git.bananach.space/moretrains.git/
[submodule "dlxtrains_modpack"]
	path = dlxtrains_modpack
	url = https://github.com/Marnack/dlxtrains_modpack
[submodule "advtrains_construction_train"]
	path = advtrains_construction_train
	url = https://git.bananach.space/advtrains_construction_train.git/
[submodule "airutils"]
	path = airutils
	url = https://github.com/APercy/airutils
[submodule "steampunk_blimp"]
	path = steampunk_blimp
	url = https://github.com/APercy/steampunk_blimp
[submodule "ju52"]
	path = ju52
	url = https://github.com/APercy/ju52
[submodule "demoiselle"]
	path = demoiselle
	url = https://github.com/APercy/demoiselle
[submodule "cheese"]
	path = cheese
	url = https://github.com/AnnalysaTheMinetester/cheese
[submodule "supercub"]
	path = supercub
	url = https://github.com/APercy/supercub
[submodule "pa28"]
	path = pa28
	url = https://github.com/APercy/pa28
[submodule "trike"]
	path = trike
	url = https://github.com/APercy/trike
[submodule "stamina"]
	path = stamina
	url = https://github.com/minetest-mods/stamina
[submodule "automobiles_pck"]
	path = automobiles_pck
	url = https://github.com/APercy/automobiles_pck
[submodule "lumberjack"]
	path = lumberjack
	url = https://github.com/joe7575/lumberjack
[submodule "item_drop"]
	path = item_drop
	url = https://github.com/minetest-mods/item_drop
[submodule "fishing_boat"]
	path = fishing_boat
	url = https://github.com/APercy/fishing_boat
[submodule "laptop"]
	path = laptop
	url = https://github.com/Gerold55/laptop
[submodule "climate"]
	path = climate
	url = https://github.com/t-affeldt/climate.git
[submodule "ju52_hydro"]
	path = ju52_hydro
	url = https://github.com/APercy/ju52_hydro
[submodule "b47_heli"]
	path = b47_heli
	url = https://github.com/APercy/b47_heli
[submodule "xcompat"]
	path = xcompat
	url = https://github.com/mt-mods/xcompat
[submodule "fakelib"]
	path = fakelib
	url = https://github.com/OgelGames/fakelib
[submodule "lighting_monoids"]
	path = lighting_monoids
	url = https://github.com/t-affeldt/lighting_monoids
[submodule "player_monoids"]
	path = player_monoids
	url = https://github.com/minetest-mods/player_monoids
[submodule "ww1_planes"]
	path = ww1_planes
	url = https://github.com/APercy/ww1_planes
[submodule "savoia_s21"]
	path = savoia_s21
	url = https://github.com/APercy/savoia_s21
[submodule "ham_radio"]
	path = ham_radio
	url = https://github.com/technix/ham_radio
[submodule "ropes"]
	path = ropes
	url = https://github.com/minetest-mods/ropes
[submodule "cottages"]
	path = cottages
	url = https://github.com/Sokomine/cottages
[submodule "castle_gates"]
	path = castle_gates
	url = https://github.com/minetest-mods/castle_gates
[submodule "castle_lighting"]
	path = castle_lighting
	url = https://github.com/minetest-mods/castle_lighting
[submodule "castle_masonry"]
	path = castle_masonry
	url = https://github.com/minetest-mods/castle_masonry
[submodule "castle_shields"]
	path = castle_shields
	url = https://github.com/minetest-mods/castle_shields
[submodule "castle_storage"]
	path = castle_storage
	url = https://github.com/minetest-mods/castle_storage
[submodule "castle_tapestries"]
	path = castle_tapestries
	url = https://github.com/minetest-mods/castle_tapestries
[submodule "castle_weapons"]
	path = castle_weapons
	url = https://github.com/minetest-mods/castle_weapons
[submodule "castle_farming"]
	path = castle_farming
	url = https://github.com/minetest-mods/castle_farming
[submodule "basic_signs"]
	path = basic_signs
	url = https://github.com/mt-mods/basic_signs
[submodule "gloopblocks"]
	path = gloopblocks
	url = https://github.com/mt-mods/gloopblocks
[submodule "windmill"]
	path = windmill
	url = https://github.com/Sokomine/windmill
[submodule "minimap_radar"]
	path = minimap_radar
	url = https://github.com/OgelGames/minimap_radar
[submodule "wrench"]
	path = wrench
	url = https://github.com/mt-mods/wrench
