[submodule "travelnet"]
	path = travelnet
	url = https://github.com/Sokomine/travelnet
[submodule "scaffolding"]
	path = scaffolding
	url = https://bitbucket.org/Infinatum/scaffolding.git
[submodule "plantlife_modpack"]
	path = plantlife_modpack
	url = https://gitlab.com/VanessaE/plantlife_modpack.git
[submodule "moretrees"]
	path = moretrees
	url = https://gitlab.com/VanessaE/moretrees.git
[submodule "food"]
	path = food
	url = https://github.com/rubenwardy/food.git
[submodule "farming"]
	path = farming
	url = https://notabug.org/TenPlus1/Farming
[submodule "biome_lib"]
	path = biome_lib
	url = https://gitlab.com/VanessaE/biome_lib.git
[submodule "bakedclay"]
	path = bakedclay
	url = https://notabug.org/TenPlus1/bakedclay
[submodule "darkage"]
	path = darkage
	url = https://github.com/adrido/darkage/
[submodule "minetest-u_skinsdb"]
	path = minetest-u_skinsdb
	url = https://github.com/dmonty2/minetest-u_skinsdb
[submodule "mob_horse"]
	path = mob_horse
	url = https://notabug.org/TenPlus1/mob_horse
[submodule "bonemeal"]
	path = bonemeal
	url = https://notabug.org/TenPlus1/bonemeal
[submodule "columnia"]
	path = columnia
	url = https://github.com/Glunggi/columnia
[submodule "mobs_redo"]
	path = mobs_redo
	url = https://notabug.org/tenplus1/mobs_redo
[submodule "minetest-tweaks"]
	path = tweaks
	url = https://github.com/exot/minetest-tweaks
[submodule "moreores"]
	path = moreores
	url = https://github.com/minetest-mods/moreores
[submodule "basic_materials"]
	path = basic_materials
	url = https://gitlab.com/VanessaE/basic_materials.git
[submodule "homedecor_modpack"]
	path = homedecor_modpack
	url = https://gitlab.com/VanessaE/homedecor_modpack.git
[submodule "unifieddyes"]
	path = unifieddyes
	url = https://gitlab.com/VanessaE/unifieddyes.git
[submodule "moreblocks"]
	path = moreblocks
	url = https://github.com/minetest-mods/moreblocks
[submodule "hook"]
	path = hook
	url = https://github.com/AiTechEye/hook
[submodule "signs_lib"]
	path = signs_lib
	url = https://gitlab.com/VanessaE/signs_lib.git
[submodule "street_signs"]
	path = street_signs
	url = https://gitlab.com/VanessaE/street_signs.git
[submodule "worldedit"]
	path = worldedit
	url = https://github.com/Uberi/Minetest-WorldEdit
[submodule "areas"]
	path = areas
	url = https://github.com/minetest-mods/areas/
[submodule "pipeworks"]
	path = pipeworks
	url = https://gitlab.com/VanessaE/pipeworks.git
[submodule "awards"]
	path = awards
	url = https://gitlab.com/rubenwardy/awards.git/
[submodule "mydoors"]
	path = mydoors
	url = https://github.com/minetest-mods/mydoors
[submodule "abritorch"]
	path = abritorch
	url = https://github.com/Ezhh/abritorch
[submodule "minetest_biofuel"]
	path = minetest_biofuel
	url = https://github.com/APercy/minetest_biofuel
[submodule "helicopter"]
	path = helicopter
	url = https://github.com/APercy/helicopter
[submodule "Minetest-WorldEditAdditions"]
	path = Minetest-WorldEditAdditions
	url = https://github.com/sbrl/Minetest-WorldEditAdditions
[submodule "orbs_of_time"]
	path = orbs_of_time
	url = https://github.com/minetest-mods/orbs_of_time
[submodule "anvil"]
	path = anvil
	url = https://github.com/minetest-mods/anvil
[submodule "mesecons"]
	path = mesecons
	url = https://github.com/minetest-mods/mesecons
[submodule "item-tweaks"]
	path = item-tweaks
	url = https://github.com/exot/item_tweaks
[submodule "item-tweaks-2"]
	path = item-tweaks
	url = https://github.com/exot/item_tweaks
[submodule "cloudlands"]
	path = cloudlands
	url = https://github.com/Treer/cloudlands
[submodule "mobf_trader"]
	path = mobf_trader
	url = https://github.com/Sokomine/mobf_trader
[submodule "bike"]
	path = bike
	url = https://gitlab.com/h2mm/bike.git
[submodule "towercrane"]
	path = towercrane
	url = https://github.com/minetest-mods/towercrane
[submodule "headanim"]
	path = headanim
	url = https://github.com/LoneWolfHT/headanim/
[submodule "mobkit"]
	path = mobkit
	url = https://github.com/TheTermos/mobkit
[submodule "petz"]
	path = petz
	url = https://github.com/runsy/petz
[submodule "3d_armor"]
	path = 3d_armor
	url = https://github.com/minetest-mods/3d_armor
[submodule "craftguide"]
	path = craftguide
	url = https://github.com/minetest-mods/craftguide
[submodule "currency"]
	path = currency
	url = https://gitlab.com/VanessaE/currency
[submodule "infinite-chest"]
	path = infinite-chest
	url = https://github.com/cornernote/minetest-infinite_chest
[submodule "intllib"]
	path = intllib
	url = https://github.com/minetest-mods/intllib
[submodule "unified-inventory"]
	path = unified-inventory
	url = https://github.com/minetest-mods/unified_inventory
[submodule "character-creator"]
	path = character-creator
	url = https://github.com/minetest-mods/character_creator
